<form class="container" [formGroup]="formLesson" (ngSubmit)="onSubmit()">
  <div class="form-cancel-button">
    <button id="cancelButton" (click)="cancel()">
      <fa-icon [icon]="backToMainIcon"></fa-icon>
    </button>
  </div>
  <div class="form-group">
    <div class="h2-title">
      <p> Nova aula </p>
    </div>
    <div class="form-title">
      <label class="form-title-label" for="title">Titulo:</label>
      <input class="form-title-input" type="text" name="title" id="title" formControlName="title" maxlength="31">
    </div>

    <div class="form-description">
      <label class="form-description-label" for="description">Descrição:</label>
      <textarea class="form-description-input" type="description" id="description" name="description" minlength="8"
        required formControlName="description" maxlength="150"></textarea>
    </div>

    <div class="form-container-buttons">

      <div class="form-confirm-button">
        <button id="confirmButton" type="submit">
          <fa-icon [icon]="confirmLessonIcon"></fa-icon>
        </button>
      </div>
      <div *ngIf="isEditing">
        <div class="form-delete-button">
          <button id="deleteButton" type="submit" (click)="delete()">
            <fa-icon [icon]="deleteLessonIcon"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>


</form>
