body {
  background-color: #2E3137;
}

app-login-form {
  /* display: flex;
  align-items: center;
  justify-content: center; */

  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
