table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .center {
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 24px;
}