body, html {
    
    background-color: #181818;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left:  0;
    right: 0;
    bottom: 0;
}

button {
    border-radius: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin-right: 10px;
    width: auto;
    height: auto;
}

button img:hover{
    opacity: 0.3;
}

.menu {
    display: flex;
    margin-top: 140px;

    flex-direction: column;
    text-align: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.control_logo {
    min-height: 200px;
    min-width: 200px;
    max-height:320px;
    max-width: 320px;
    width: auto;

    justify-items: center;
}
.menu_buttons{

}

.menu_buttons h1{
    color: white;
    font-size: 40px;
    margin-top: 140px;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

.container {
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.char_img{
    max-width: 1000px;
    min-width: 250px;
    max-height: 700px;
    min-height: 250px;
    width: auto;
    height: auto;
    margin-right: 10px;
}
.user_points{
    display: flex;
    position: absolute;

    margin-right: 1400px;
    margin-top: 200px;

    align-items: center;

    font-size: 40px;
    color: rgb(67, 145, 90);
}


.computer_points{
    display: flex;
    position: absolute;
    
    margin-right: 1406px;
    margin-top: 500px;

    align-items: center;

    font-size: 40px;
    color: rgb(156, 41, 41);
}

.user_points img{
    height: 100px;
    margin-right: 10px;
}


.computer_points img{
    height: 100px;
    margin-right: 10px;
}

.options {
    margin-top: 60px;
    margin-right: 10px;
}

.paper-button img {
    max-width: 15vh;
    max-height: 15vw;
    width: auto;
    height: auto;
    margin-right: 10%;
}

 .rock-button img {
    max-width: 15vh;
    max-height: 15vw;
    width: auto;
    height: auto;
    margin-right: 5px;
}

.scissors-button img {
    max-width: 15vh;
    max-height: 15vw;
    width: auto;
    height: auto;
}

.user_choose img{
    margin-left: 38rem;
    margin-bottom: 5rem;
    max-width: 15vw;
    max-height: 15vh;

    transform:          rotate(25deg);
    -ms-transform:      rotate(25deg);
    -moz-transform:     rotate(25deg);
    -webkit-transform:  rotate(25deg);
    -o-transform:       rotate(25deg);
}

.computer_choose img {
    margin-right: 35rem;
    margin-top: 8rem;
    max-width: 15vw;
    max-height: 15vh;

    -moz-transform: scaleX(-1) rotate(30deg);
    -o-transform: scaleX(-1) rotate(30deg);
    -webkit-transform: scaleX(-1) rotate(30deg);
    transform: scaleX(-1) rotate(30deg);
}

.ballons_container{
    position: absolute;
    margin-right: 5rem;
}

.winner {

}

 @media only screen and (max-height: 800px)  {

    button {
        width: 110px;
    }

    .options {
        margin-top: 5px;
    }

    .rock-button {
        margin-right: 5px;
    }

    .rock-button img {
        margin-right: 5px;
    }

    .char_img{
        max-width: 400px;
        min-width: 400px;
    }

    .user_choose img {
        margin-left: 30rem;
    }

    .computer_choose img {
        margin-top: 8rem;
        margin-right: 25rem;
    }

    .user_points{
        margin-right: 1000px;
        margin-top: 150px;
    }
    
    
    .computer_points{
        margin-right: 1000px;
        margin-top: 350px;
    }

    
    .user_points img{
        height: 80px;
        margin-right: 10px;
    }


    .computer_points img{
        height: 80px;
        margin-right: 10px;
    }
}
